*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    background-color:aliceblue;
    font-family:'Times New Roman', Times, serif;
}

.header{
    text-align:center;
    padding:20px;
    background-color:darkblue;
    color:white;
}

.header p{
    margin-top:10px;
}

.container{
    margin:20px;
    padding:20px;
    border:2px solid blue;
}

.container h2{
    margin:20px 0 10px;
    color:darkred;
}

.flex-container{
    display:flex;
    border:2px solid green;
    background:lightyellow;
    padding:20px;
    margin-bottom:25px;
}

.box{
    width:80px;
    height:80px;
    background:tomato;
    color:white;
    display:flex;
    justify-content:center;
    align-items:center;
    font-size:25px;
}

.gap-box{
    gap:20px;
}

.first{
    order:3;
}

.second{
    order:1;
}

.third{
    order:2;
}

.grow{
    flex-grow:1;
}

.shrink-container{
    width:250px;
}

.no-shrink{
    flex-shrink:0;
}

.basis{
    flex-basis:200px;
}

.align-container{
    height:220px;
    align-items:flex-start;
}

.self{
    align-self:flex-end;
}