*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: black;
    font-family: 'Times New Roman', Times, serif;
}
.html-images{
    color: rgb(242, 31, 31);
    text-align: center;
    margin-top: 10px;
}
.html-images p{
    color: pink;
    margin-top: 10px;
}
.images img{
    margin: auto;
    width: 450px;
    height: 400px;
    border: solid blue 2px;
    border-radius: 20px;
    object-fit: cover;
    display: block;
}
.images p{
    text-align: center;
    margin-top: 10px;
    color: white;
    line-height: 25px;
}