*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    background-color:aliceblue;
    font-family:'Times New Roman', Times, serif;
}

.header{
    text-align:center;
    padding:20px;
    background-color:darkblue;
    color:white;
}

.header p{
    margin-top:10px;
}

.container{
    margin:20px;
    padding:20px;
    border:2px solid blue;
}

.container h2{
    margin:20px 0 10px;
    color:darkred;
}

.flex-container{
    display:flex;
    width:550px;
    padding:15px;
    border:2px solid green;
    background-color:lightyellow;
    margin-bottom:25px;
    gap:10px;
}

.box{
    width:120px;
    height:80px;
    background-color:tomato;
    color:white;
    display:flex;
    justify-content:center;
    align-items:center;
    font-size:25px;
}

.nowrap{
    flex-wrap:nowrap;
}

.wrap{
    flex-wrap:wrap;
}

.wrap-reverse{
    flex-wrap:wrap-reverse;
}