* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background: aliceblue;
}

header {
    text-align: center;
    padding: 30px;
    background: darkblue;
    color: white;
}

header p {
    margin-top: 10px;
}

main {
    min-height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box {
    width: 150px;
    height: 150px;
    background: tomato;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;

    animation: moveBox 2s infinite;
}

@keyframes moveBox {

    from {
        transform: translateX(-150px);
    }

    to {
        transform: translateX(150px);
    }

}